<h3>{{title}} - {{displayQuery}}</h3>
<input name="query" placeholder="Enter Search Keyword Here" [(ngModel)]="searchQuery">
<button (click)="sendQuery();">Submit</button>

<ng-container *ngIf="searchResults.total_count !== 0; then searchResultsTemplate; else notFoundTemplate"></ng-container>
<ng-template #searchResultsTemplate>
    <div *ngIf="searchResults; else loadingBlock">

        <h3 class="total">Total Results: {{searchResults.total_count}}</h3>

        <ul class="list">
            <li [ngClass]="{'background-silver': (i % 2 === 0)}" class="list_item" *ngFor="let result of searchResults.items; index as i;">
                <a [href]="result.html_url">
                    <img class="avatar" [src]="result.owner.avatar_url" alt="">
                    <h4 class="title">{{result.name}}
                        <small>by {{result.owner.login | uppercase}}</small>
                    </h4>
                </a>
                <p class="description"> {{result.description}}</p>
                <p>Created On: {{result.created_at | date:'fullDate'}}</p>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #notFoundTemplate>
    <h3>No Data Found :( Try Another Request.</h3>
</ng-template>

<ng-template #loadingBlock>Loading...</ng-template>